<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Renderização de Listas - Objetos em v-for</title>

    <!-- versão de desenvolvimento, inclui aviso úteis no console  -->
    <!-- https://superdevresources.com/vuejs-admin-templates/ -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>#{{ title }}</h1>

      <ul id="v-for-object" class="demo">
        <li v-for="value in object">
          {{ value }}
        </li>
      </ul>

      <ul id="v-for-value-key">
        <li v-for="(value, key) in object">{{ key }}: {{ value }}</li>
      </ul>

      <ul id="v-for-value-key">
        <!-- index ou key = mesma coisa -->
        <li v-for="(item, index) in items">
          {{ index }}: {{ item.firstName }} - {{ item.lastName }} - {{ item.age }}
        </li>
      </ul>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          title: "Objetos em v-for",
          object: {
            firstName: "Zé",
            lastName: "Ninguem",
            age: 30
          },
          items: [
            { firstName: "Zé", lastName: "Ninguem", age: 30 },
            { firstName: "Zé", lastName: "Ninguem", age: 30 },
            { firstName: "Zé", lastName: "Ninguem", age: 30 }
          ]
        }
      });
    </script>
  </body>
</html>
