<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Renderização Condicional - v-else</title>

    <!-- versão de desenvolvimento, inclui aviso úteis no console  -->
    <!-- https://superdevresources.com/vuejs-admin-templates/ -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h1 v-if="ok">#{{ title }}</h1>
      <div v-if="Math.random() > 0.5">
        Agora você me vê
      </div>
      <div v-else>
        Agora você não me vê
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          title: "Renderização Condicional - v-else",
          ok: true,
        },
      });
    </script>
  </body>
</html>
