<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Renderização de Listas - Utilizando template com v-for
    </title>

    <!-- versão de desenvolvimento, inclui aviso úteis no console  -->
    <!-- https://superdevresources.com/vuejs-admin-templates/ -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>#{{ title }}</h1>
      <ul>
        <li v-for="todo in todos" v-if="!todo.isComplete">
          {{ todo }}
        </li>
      </ul>

      <ul v-if="todos.length">
        <li v-for="todo in todos">{{ todo }}</li>
      </ul>
      <p v-else>Não tem tarefas</p>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          title: "Utilizando template com v-for",
          todos: [
            { msg: "v-if com v-for", isComplete: true },
            { msg: "v-if com v-for", isComplete: true },
            { msg: "v-if com v-for", isComplete: true },
            { msg: "v-if com v-for", isComplete: false },
            { msg: "v-if com v-for", isComplete: false },
            { msg: "v-if com v-for", isComplete: false },
            { msg: "v-if com v-for", isComplete: true },
            { msg: "v-if com v-for", isComplete: true }
          ]
        }
      });
    </script>
  </body>
</html>
